<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label for="">State</label>
            <select data-request="onSelectState"
                    data-request-update="'{{ __SELF__ }}::citySelect':'#city'" 
                    name="state_id" class="form-control" id="state" required>
                {% for state in  __SELF__.getAllStates %}
                <option value="{{ state.id }}">{{ state.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label for="">City</label>
            {% partial __SELF__ ~ "::citySelect" %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label for="">Courier</label>
            <select data-request="onSelectCourier" 
                    data-request-update="'{{ __SELF__}}::packageSelect':'#package'" 
                    name="courier_id" class="form-control" id="courier" required>
                {% for courier in  __SELF__.getAllCouriers %}
                <option value="{{ courier.id }}">{{ courier.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-4 col-sm-12">
        <div class="form-group">
            <label for="">Courier package</label>
            {% partial __SELF__ ~ "::packageSelect" %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <table class="table"
            <tr>
                <td>Shipping cost</td> 
                <td id="shippingCost">Free</td> 
            </tr>
        </table>
    </div>
</div>
